body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
}

.input-container{
  display:flex;
  justify-content: space-between;
}

.sliderValue{
  width:5em;
}

div.ui-slider-range.ui-corner-all.ui-widget-header{
  background-color:rgb(175,31,41);
}
span.ui-slider-handle.ui-corner-all.ui-state-default{
  border-radius:100%;
}

div[id='slider']{
  height:0.7em;
}
