
.genderpercent-display{
  display:flex;
}
.input-text{
  flex:1;
  margin-left:1.5em;
}

.gender-text{
  margin-right:3em;
  margin-top:-0.5em;
  flex:1;
  padding-top:0.8em;
}
.gender-percent{
  padding-left:0.7em;
}

.container {
  margin: 0 auto;
  width: 500px;
}

input[type='range'] {
  height:6px;
  margin-left:10%;
  margin-bottom:2em;
  width: 15em;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    background-color: #ffffff;
  }
  input[type='range']::-webkit-slider-runnable-track {
    height: 20px;
    -webkit-appearance: none;
    color: #rgb(175,31,41);
    margin-top: -2px;
  }
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 10%;
    width:2em;
    height: 10px;
    margin-top: 4.2px;
    background: #434343;
    color: rgb(175,31,41);
  }
}
