html{
  background-color: rgb(235,234,235);
}

/*  APP.JS*/

.App {
  text-align: center;
  background-color: rgb(235,234,235);
}

.sidebar-divider{
  display:flex;
}
.sidebar-dimensions{
  flex:3;
  width:20em;
  margin:0em 1em 2em 2em;
  background-color:white;
}

.maincontent-dimensions{
  margin:0em 2em 2em 0em;
  background-color:white;
  flex-basis:75%;
}

/* NAVBAR CONTROLS */

.App-header {
  margin:1em 2em 1em 2em;
  background-color: white;
  color:rgb(71,71,71);
  display:flex;
  height:4em;
}

.container-1{
  display:flex;
  flex-flow:row wrap;
  width:100%;
  /* flex-wrap: wrap; */
}
div.bg-light.border.organize{
  margin-left:1em;
  width:30em;
  height: 100px;
  flex-grow:0;
  flex-basis:27em;
}

.img-dimensions{
  height:4em;
  width:4em;
}

.header-dimensions{
  flex:3;
  margin-top:-0.8em;
}

/*Main Content & Quality Content*/


.change-background{
  background-color:rgb(248,250,244);
  margin:1em 1em 1em 1em;
}
.organize{
  display:flex;
  flex:1;
  margin-top:1em;
}
.img-size{
  width:8em;
  height:8em;
}
.text-control{
  height:8em;
  background-color:white;
  margin-right:1em;
  padding:0em 1em 0em 1em;
  text-align:left;
  box-shadow: 0.5px 0.5px grey;
}
.tiny-flag{
  display:inline;
  height:1em;
  width:1.5em;
}
.flag-display{
  display:flex;
}
.flag-text{
  margin-left:0.5em;
  margin-top:-0.1em;
}
.verified-sign{
  height:1em;
  width:1em;
  margin:0.8em 0em 0em 0.3em;
}

.score-container{
  display:flex;
  justify-content: flex-end;
  margin-right:2.5em;

}
.triangle-img{
  margin:0.7em 0em 0em 0.5em;
  width:1em;
  height:1em;
}

/*SIDEBAR*/
.slider{
  margin:0em 2em 4em 0em;
  width:10em;
}

.image-size{
  height:3em;
  width:2em;
}
.image-size1{
  height:2em;
  width:2em;
}
.image-size2{
  height:3em;
  width:1.4em;
}

.label-item{
  color:black;
}
.label-item-selected{
  color:rgb(175,31,41);
}

.input-dual-container{
  display:flex;
}
.dual-input1{
  flex:1;
  widows:1em;
}
.dual-input2{
  flex:1;
  width:1em;
}

input[type=range]{
  width:75%;
  margin-left:3em;
}
