body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*Gender Selector */

.gender-selector-container{
  display:flex;
  flex-direction: column;
}
.gender-container{
  margin-left:8em;
}

.gender-container input{
  margin-top:1em;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.none-sign{
  background-image:url(./assets/none-sign.png);
}
.male-sign{
  background-image:url(./assets/male-sign.png);
}
.female-sign{
  background-image:url(./assets/female-sign.png);
}

.gender-container input:active +.select-gender{
  opacity: .9;
}
.gender-container input:checked +.select-gender{
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.select-gender{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:3em;
  height:4em;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
  filter: brightness(1.8) grayscale(1) opacity(.7);
}


/* Vertical */
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + label {
    background: rgb(175,31,41);
    color:white;
}

label {
    background: White;
    width:19em;
    height: 1.5em;
    float: left;
    margin: 0;
    font-weight:lighter;
}

.scroll-container{
  float:left;
  width:17em;
  overflow-y: auto;
  height: 100px;
  border:1px solid black;
  border-top:2px solid black;
}
.vertical-container{
  display:flex;
  flex-direction: column;
  align-items: center;

}

#scroll-customization::-webkit-scrollbar{
  width: 10px;
}

#scroll-customization::-webkit-scrollbar-track{
  background-color: rgb(175,31,41);
  border: 3.5px solid transparent;
  background-clip: content-box;
}

#scroll-customization::-webkit-scrollbar-thumb{
  background-color: White;
  border:1px solid black;
  border-radius: 3em;
}



#gender-change-color::-webkit-scrollbar-track{
  background-color: rgb(175,31,41);
  border: 3.5px solid transparent;
  background-clip: content-box;
}
